/* App.css */

.main-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  color: #4caf50; /* Green */
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #4caf50; /* Green */
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-box {
  height: 90vh;
}

.header-box {
  background-color: #f0f0f0; /* Light Grey */
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-box p {
  color: #333; /* Dark Grey */
  font-size: 24px;
  margin-bottom: 20px;
}

.open-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.open-btn:hover {
  background-color: #45a049; /* Darker Green */
}

.content-box {
  height: 76vh;
  background-color: aqua;
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
}
.list-content {
  width: 50%;
  margin: 4vh;
  background-color: aquamarine;
}

.map {
  width: 50%;
  margin: 4vh;
  background-color: aquamarine;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.button {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
}

/* App.css */

.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.button {
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.create-event {
  background-color: #f0f0f0; /* Light Grey */
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.create-event h2 {
  color: #4caf50; /* Green */
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049; /* Darker Green */
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.table-container {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f7f7f7;
  color: #333333;
  border-bottom: 2px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f7ff;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.error {
  color: #ff6f61; /* Coral */
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.navbar {
  background-color: #4caf50; /* Green */
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 20px;
  transition: transform 0.3s ease; /* Added transition */
}

.nav-item:hover {
  transform: translateY(-3px); /* Added hover animation */
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease; /* Added transition */
}

.nav-link:hover {
  color: #45a049; /* Darker Green */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 300px; /* Set a fixed width for the inputs */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container .button {
  width: 300px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.login-container .button:hover {
  background-color: #45a049;
}

/* App.css */
.user-creation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.user-creation-container h2 {
  margin-bottom: 20px;
}

.user-creation-container input,
.user-creation-container select {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-creation-container .button {
  width: 300px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.user-creation-container .button:hover {
  background-color: #45a049;
}
